{% extends "test.html" %}

<title>{% block title %}About Us{% endblock %}</title>

{% block content %}

    <img src="../static/images/team.jpg"width="100%">

    <H2>Who is Tech Studio?</H2>
    <p> We love tech and we want to share that passion with everyone else. Tech Studio has the latest, coolest and most
        work efficient gadgets and gaming devices. We have listed various tools and gadgets you won’t find on a normal
        online store. We have a blog written every week highlighting Tech Studios “Gadget of the Week”. Here we will
        express our opinion on our choice of the coolest device of the week. In writing this we hope to encourage our
        customers to buy these highlighted products.
    </p>
    <p>
        Our website is aimed at other tech lovers, gamers, people that have home offices and students. The products we
        have on our website are not just only cool and aesthetic, they made your work easier. Our products are made for
        anybody and everybody.
    </p>
    <p>
        We are experts in technology, with not only great prices but the latest and best in every category. In
        technology, our worldwide buying power ensures you get the best deal, the latest trends, and top
        quality. Our buying team strive to bring you the best the world has to offer in terms of style and value,
        including, where possible, locally made products.
    </p>
    <p>
        At Tech Studio, we believe value is key, but you should never have to compromise on quality and style; which is why
        we offer a wide range of products to suit all budgets and lifestyles.
    </p>
    <p>
        Our business is powered by its people, and passion defines our commitment to meeting the needs of our customers.
        Purchasing, researching or planning a trip to one of our stores is now easier than ever. We understand that our
        customers lead busy lives so we want to make sure your shopping experience is stress-free and convenient anytime ,
        day or night.
    </p>
    <p>
        Our website offers all of that and more; browse and buy from our extensive product range with a click of a button,
        and get it delivered straight to your door or pick it up from your nearest store.
    </p>
    <p>
        The Tech Studio success story began in Dublin, Ireland as a software engineering project by
        creators and CEOs Nicolas Oyeleye and Joseph Adeosun in 2021. The pair believe in innovation and creating
        products that ease our day to day jobs, hence the store was built.
    </p>

    <div class="bottom-about">

    <iframe width="560" height="315" src="https://www.youtube.com/embed/CODN9JtYh2E" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <br><br>
    <h5>Follow our social media accounts for weekly updates and promotions</h5>
    <a href="https://www.snapchat.com//"><img src="../static/images/snapchat.jpg" width="100"></a>
    <a href="https://www.twitter.com/"><img src="../static/images/twitter.png" width="100"></a>
    <a href="https://www.instagram.com/" ><img src="../static/images/insta.jpg" width="100"></a>
    <a href="https://www.facebook.com/"><img src="../static/images/facebook.jpg" width="100"></a>
    </div>
{% endblock %}