{% extends "test.html" %}

<title>{% block title %}Tech Studio{% endblock %}</title>

{% block header %}

    <header>
        <div class="example1">
            <h3>FREE SHIPPING FOR ALL ORDERS WITHIN IRELAND</h3>
        </div>
    </header>

{% endblock %}

{% block content %}

    <div class="indextext">
        <H3>Get the best products for the best prices</H3>
    </div>
    <header class="hero">
        <div class="banner">
            <h1 class="banner-title">tech studio</h1>
            <a href="/category/"><button class="banner-btn">shop now</button></a>
        </div>
    </header>

<br><br>
    <h2 class="indexh2">HOTTEST DEALS OF THE WEEK!</h2>
    <div class="container">
        <div class="tab1cards">
            <div class="card">
                <a href="/singleproduct/67">
                    <h3>Playstation 5</h3>
                    <img src="../static/images/game_dev7.jpg" height="260" alt="Pic" style="width:100%">
                    <p>Experience lightning fast loading with an ultra-high...</p>
                </a>
                <h4 class="indexh2">Only $499.99</h4>
            </div>
            <div class="card">
                <a href="/singleproduct/47">
                    <h3>KSTN Keyboard</h3>
                    <img src="../static/images/key4.jpg" height="260" alt="Pic" style="width:100%">
                    <p>Bring sleek, contemporary styling to your desktop...</p>
                </a>
                <h4 class="indexh2">Only $139.99</h4>
            </div>
            <div class="card">
                <a href="/singleproduct/68">
                    <h3>Echo Dot</h3>
                    <img src="../static/images/speaker8.jpg" height="260" alt="Pic" style="width:100%">
                    <p>Meet the all-new Echo Dot—our most popular smart...</p>
                </a>
                <h4 class="indexh2">Only $49.99</h4>
            </div>
            <div class="card">
                <a href="/singleproduct/40">
                    <h3>Product 4</h3>
                    <img src="../static/images/mouse8.jpg" height="260" alt="Pic" style="width:100%">
                    <p>The Level 20 RGB gaming mouse pad is designed...</p>
                </a>
                <h4 class="indexh2">Only $29.99</h4>
            </div>
        </div>
    </div>
    <div class="container">
    <br><br>
    <h2 class="indexh2">NEW ARRIVALS!</h2>
        <div class="tab1cards">
            <div class="card">
                <a href="/singleproduct/33">
                    <h3>PICTEK 8 Mouse</h3>
                    <img src="../static/images/mouse1.jpg.jfif" height="260" alt="Pic" style="width:100%">
                    <p>PICTEK 8 Programmable Buttons, RGB Backlit 7200 DPI...</p>
                    <h4>$45.99</h4>
                </a>
            </div>
            <div class="card">
                <a href="/singleproduct/3">
                    <h3>Samsung Monitor</h3>
                    <img src="../static/images/monitor3.jpg" height="260" alt="Pic" style="width:100%">
                    <p>Enjoy a truly immersive viewing experience, Reduce eye...</p>
                    <h4>$189.99</h4>
                </a>
            </div><div class="card">
                <a href="/singleproduct/25">
                    <h3>Gaming Headset</h3>
                    <img src="../static/images/headphone3.jpg" height="260" alt="Pic" style="width:100%">
                    <p>Fantastic sound - professional and technical design and...</p>
                    <h4>$99.99</h4>
                </a>
            </div>
            <div class="card">
                <a href="/singleproduct/59">
                    <h3>Lamicall Stand</h3>
                    <img src="../static/images/stand4.jpg" height="260" alt="Pic" style="width:100%">
                    <p>Lamicall Laptop Stand, Portable Laptop Riser - Ergonomic...</p>
                    <h4>$72.99</h4>
                </a>
            </div>
        </div>
    </div>
    <br><br>

    <div class="container">
    <h2>NEWS UPDATES</h2>
        <br>
        <h3>Neo QLED 8K - QN800A: Official Introduction | Samsung</h3>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/qSkmttfqkJ0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <br><br><br><br>
        <h3>Are Apple and others' tech launches a better watch because of Covid?</h3>
        <img src="../static/images/covid1.jpg">
        <h5>In 2000, footage of a sweaty, high energy Steve Ballmer, the then chief executive of Microsoft, became
            a viral hit after he walked on stage and shouted the same word over and over again. <a href="https://www.bbc.com/news/technology-56781809"><h5>Learn More >>></h5></a></h5>
    </div>

{% endblock %}