{% extends "test.html" %}

<title>{% block title %}Laptop Stand{% endblock %}</title>

{% block content %}
    <h1>Laptop Stands</h1>
<div class="container">
        <div class="tab1cards">
            <div class="card">
                <a href="/singleproduct/56">
                    <h3>U-Kiss Stand</h3>
                    <img src="../static/images/stand1.jpg" height="260" alt="Pic" style="width:100%">
                    <p>Laptop Stands</p>
                    <h4>$75.99</h4>
                    <p>3 reviews</p>
                </a>
                <div class="price-wrap"> <a href"#" class="btn btn-warning float-left" data-abc="true"><i class="fa fa-cart-plus mr-2"></i>  Add to Cart </a> </div>
            </div>
            <div class="card">
                <a href="/singleproduct/57">
                    <h3>LS-20 Zomo Stand</h3>
                    <img src="../static/images/stand2.jpg" height="260" alt="Pic" style="width:100%">
                    <p>Laptop Stands</p>
                    <h4>$69.99</h4>
                    <p>41 reviews</p>
                </a>
                <div class="price-wrap"> <a href"#" class="btn btn-warning float-left" data-abc="true"><i class="fa fa-cart-plus mr-2"></i>  Add to Cart </a> </div>
            </div>
            <div class="card">
                <a href="/singleproduct/58">
                    <h3>Cooper Converter</h3>
                    <img src="../static/images/stand3.jpg" height="260" alt="Pic" style="width:100%">
                    <p>Laptop Stands</p>
                    <h4>$79.99</h4>
                    <p>15 reviews</p>
                </a>
                <div class="price-wrap"> <a href"#" class="btn btn-warning float-left" data-abc="true"><i class="fa fa-cart-plus mr-2"></i>  Add to Cart </a> </div>
            </div>
        </div>
        <div class="tab1cards">
            <div class="card">
                <a href="/singleproduct/59">
                    <h3>Lamicall Stand</h3>
                    <img src="../static/images/stand4.jpg" height="260" alt="Pic" style="width:100%">
                    <p>Laptop Stands</p>
                    <h4>$72.99</h4>
                    <p>95 reviews</p>
                </a>
                <div class="price-wrap"> <a href"#" class="btn btn-warning float-left" data-abc="true"><i class="fa fa-cart-plus mr-2"></i>  Add to Cart </a> </div>
            </div>
            <div class="card">
                <a href="/singleproduct/60">
                    <h3>Lamicall stand 2.0 </h3>
                    <img src="../static/images/stand5.jpg" height="260" alt="Pic" style="width:100%">
                    <p>Laptop Stands</p>
                    <h4>$59.99</h4>
                    <p>93 reviews</p>
                </a>
                <div class="price-wrap"> <a href"#" class="btn btn-warning float-left" data-abc="true"><i class="fa fa-cart-plus mr-2"></i>  Add to Cart </a> </div>
            </div>
            <div class="card">
                <a href="/singleproduct/61">
                    <h3>Ergonomic Stand</h3>
                    <img src="../static/images/stand6.jpg" height="260" alt="Pic" style="width:100%">
                    <p>Laptop Stands</p>
                    <h4>$49.99</h4>
                    <p>43 reviews</p>
                </a>
                <div class="price-wrap"> <a href"#" class="btn btn-warning float-left" data-abc="true"><i class="fa fa-cart-plus mr-2"></i>  Add to Cart </a> </div>
            </div>
        </div>
        <div class="tab1cards">
            <div class="card">
                <a href="/singleproduct/62">
                    <h3>Ergoneer Stand</h3>
                    <img src="../static/images/stand8.jpg" height="260" alt="Pic" style="width:100%">
                    <p>Laptop Stands</p>
                    <h4>$67.99</h4>
                    <p>63 reviews</p>
                </a>
                <div class="price-wrap"> <a href"#" class="btn btn-warning float-left" data-abc="true"><i class="fa fa-cart-plus mr-2"></i>  Add to Cart </a> </div>
            </div>
            <div class="card">
                <a href="/singleproduct/64">
                    <h3>GINine Monitor</h3>
                    <img src="../static/images/stand9.jpg" height="260" alt="Pic" style="width:100%">
                    <p>Laptop Stands</p>
                    <h4>$79.99</h4>
                    <p>91 reviews</p>
                </a>
                <div class="price-wrap"> <a href"#" class="btn btn-warning float-left" data-abc="true"><i class="fa fa-cart-plus mr-2"></i>  Add to Cart </a> </div>
            </div>
            <div class="card">
                <a href="/singleproduct/65">
                    <h3>Cooling Stand</h3>
                    <img src="../static/images/stand11.jpg" height="260" alt="Pic" style="width:100%">
                    <p>Laptop Stands</p>
                    <h4>$39.99</h4>
                    <p>83 reviews</p>
                </a>
                <div class="price-wrap"> <a href"#" class="btn btn-warning float-left" data-abc="true"><i class="fa fa-cart-plus mr-2"></i>  Add to Cart </a> </div>
            </div>
        </div>
        <div class="tab1cards">
            <div class="card">
                <a href="/singleproduct/66">
                    <h3>Redmond</h3>
                    <img src="../static/images/stand12.jpg" height="260" alt="Pic" style="width:100%">
                    <p>Laptop Stand</p>
                    <h4>$39.99</h4>
                    <p>192 reviews</p>
                </a>
                <div class="price-wrap"> <a href"#" class="btn btn-warning float-left" data-abc="true"><i class="fa fa-cart-plus mr-2"></i>  Add to Cart </a> </div>
            </div>
            </div>
        </div>
    </div>
    <br><br>

{% endblock %}