{% extends "test.html" %}

<title>{% block title %}Blog{% endblock %}</title>

{% block content %}
    <div class="header">
  <H1 class="indexh4">Tech of The Week</H1>
</div>

<div class="row">
  <div class="leftcolumn">
      <div>
        <H3>GlNine Smart Monitor Stand</H3>
          <div style="height:30%; width:80%; "><a href="/singleproduct/63"><img src="../static/images/stand9.jpg" width=100%></a></div><br>
        <p> Say goodbye to hunching and slouching! GINine’s Smart monitor stands might be everything you’re looking for to enhance your home office aesthetics and
            maximise your desk usage space. These smart monitor stands have one purpose in mind: to offer its user with a
            clean work environment. These new an improved stands feature a 15 degree raise
            making it the perfect height for your eye level to relieve that neck and shoulder pain. Use the stand to provide a healthy and comfortable position
            to help you with your posture whilst you work from home or in the office.

        </p>
        <p> These stands are made of high quality aluminum alloy and a professional reinforcement structure that can support
            up to 66 pounds and a monitor up to 40”. The stands are of ergonomic design and come with 4 USB 3.0 ports. These
            smart monitor stands are portable and very easy to assemble.
        </p>
        <p> GINine's Smart monitor stand has universal compatibility and boasts universal use. It can work with all laptops up to 40"
            inches, such as: Chromebook, HP, Lenovo, Macbook, Macbook Air, Macbook Pro, Microsoft Surface, Google
            Pixelbook, Sony, Dell, Acer, ASUS and more. It also makes for a great gift and would work well as a
            Christmas, Secret Santa, Birthday or thoughtful gift for any occasion.
        </p>
        <p> In our opinion GINine’s Smart Monitor Stand is well worth the money. You may think it may be a little expensive
            for a stand but it is far from just a stand, with its excellent build and design.
        </p>
    </div>
</div>

  <div class="rightcolumn">
    <div class="card">
      <h3 class="indexh4">Last Week</h3>
        <h5>Rotor Riot Gaming Controller</h5>
        <div> <a href="/singleproduct/10"><img src="../static/images/game_dev.jpg"></a></div><br>
        <p> Rotor Riot Gaming Controller and smart drone joystick, gaming device.
            Android and ios compatible</p>
    </div>
      <br><br>
      <div class="card">
          <h3 class="indexh4">Top Mention</h3>
      <h5>Echo Dot Smart Speaker</h5>
      <div><a href="/singleproduct/68"><img src="../static/images/speaker8.jpg" height="230" width="200"></a></div><br>
      <p>Product description Meet the all-new Echo Dot—our most popular smart speaker with Alexa. The sleek, compact
          design delivers crisp vocals and balanced bass for full sound.</p>
    </div><br>
  </div>
</div>

    <iframe width=700 height="400" src="https://www.youtube.com/embed/-c9yWzXil64" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<br><br>
{% endblock %}