{% extends "test.html" %}

{% block title %}
    Category
{% endblock %}

{% block content %}

<div class="row">
        <div class="card">
            <h3>Monitors</h3>
            <a href="/monitor/"><img src="../static/images/monitor00.jpg" height="250"></a>
        </div>
        <div class="card">
            <h3>Headphones</h3>
            <a href="/headphones/"><img src="../static/images/headphone10.jpg" height="250"></a>
        </div>
</div>
    <br><br>

<div class="row">
        <div class="card">
            <h3>Gaming</h3>
            <a href="/gaming/"><img src="../static/images/game_dev7.jpg" height="250"></a>
        </div>
        <div class="card">
            <h3>Laptop Stands</h3>
            <a href="/stand/"><img src="../static/images/stand1.jpg" height="250"></a>
        </div>
</div>
<br><br>


{% endblock %}