{% extends "test.html" %}

<title>{% block title %}Gaming Devices{% endblock %}</title>

{% block content %}
    <h1>Gaming Devices</h1>
    <div class="container">
        <div class="tab1cards">
            <div class="card">
                <a href="/singleproduct/13">
                    <h3>Gaming Controller</h3>
                    <img src="../static/images/game_dev.jpg" height="260" alt="Pic" style="width:100%">
                    <p>Gaming devices</p>
                    <h4>$59.99</h4>
                    <p>79 reviews</p>
                </a>
                <div class="price-wrap"> <a href="#" class="btn btn-warning float-left" data-abc="true"><i class="fa fa-cart-plus mr-2"></i>  Add to Cart </a> </div>
            </div>
            <div class="card">
                <a href="/singleproduct/12">
                    <h3>ASUS G Router</h3>
                    <img src="../static/images/game_dev1.jpg" height="260" alt="Pic" style="width:100%">
                    <p>Gaming devices</p>
                    <h4>$109.99</h4>
                    <p>341 reviews</p>
                </a>
                <div class="price-wrap"> <a href="#" class="btn btn-warning float-left" data-abc="true"><i class="fa fa-cart-plus mr-2"></i>  Add to Cart </a> </div>
            </div>
            <div class="card">
                <a href="/singleproduct/14">
                    <h3>VR Headset</h3>
                    <img src="../static/images/game_dev2.jpg" height="260" alt="Pic" style="width:100%">
                    <p>Gaming devices</p>
                    <h4>$199.99</h4>
                    <p>41 reviews</p>
                </a>
                <div class="price-wrap"> <a href="#" class="btn btn-warning float-left" data-abc="true"><i class="fa fa-cart-plus mr-2"></i>  Add to Cart </a> </div>
            </div>
        </div>
        <div class="tab1cards">
            <div class="card">
                <a href="/singleproduct/15">
                    <h3>Nintendo Switch</h3>
                    <img src="../static/images/game_dev3.jpg" height="260" alt="Pic" style="width:100%">
                    <p>Gaming devices</p>
                    <h4>$349.99</h4>
                    <p>495 reviews</p>
                </a>
                <div class="price-wrap"> <a href="#" class="btn btn-warning float-left" data-abc="true"><i class="fa fa-cart-plus mr-2"></i>  Add to Cart </a> </div>
            </div>
            <div class="card">
                <a href="/singleproduct/16">
                    <h3>Xbox Controller</h3>
                    <img src="../static/images/game_dev4.jpg" height="260" alt="Pic" style="width:100%">
                    <p>Gaming devices</p>
                    <h4>$49.99</h4>
                    <p>293 reviews</p>
                </a>
                <div class="price-wrap"> <a href="#" class="btn btn-warning float-left" data-abc="true"><i class="fa fa-cart-plus mr-2"></i>  Add to Cart </a> </div>
            </div>
            <div class="card">
                <a href="/singleproduct/17">
                    <h3>Xbox Series X</h3>
                    <img src="../static/images/game_dev5.jpg" height="260" alt="Pic" style="width:100%">
                    <p>Gaming devices</p>
                    <h4>$299.99</h4>
                    <p>64 reviews</p>
                </a>
                <div class="price-wrap"> <a href="#" class="btn btn-warning float-left" data-abc="true"><i class="fa fa-cart-plus mr-2"></i>  Add to Cart </a> </div>
            </div>
        </div>
        <div class="tab1cards">
            <div class="card">
                <a href="/singleproduct/18">
                    <h3>Xbox One S</h3>
                    <img src="../static/images/game_dev6.jpg" height="260" alt="Pic" style="width:100%">
                    <p>Gaming devices</p>
                    <h4>$299.99</h4>
                    <p>76 reviews</p>
                </a>
                <div class="price-wrap"> <a href="#" class="btn btn-warning float-left" data-abc="true"><i class="fa fa-cart-plus mr-2"></i>  Add to Cart </a> </div>
            </div>
            <div class="card">
                <a href="/singleproduct/19">
                    <h3>PS5 Headset</h3>
                    <img src="../static/images/game_dev8.jpg" height="260" alt="Pic" style="width:100%">
                    <p>Gaming devices</p>
                    <h4>$149.99</h4>
                    <p>59 reviews</p>
                </a>
                <div class="price-wrap"> <a href="#" class="btn btn-warning float-left" data-abc="true"><i class="fa fa-cart-plus mr-2"></i>  Add to Cart </a> </div>
            </div>
            <div class="card">
                <a href="/singleproduct/20">
                    <h3>PS5 Controller</h3>
                    <img src="../static/images/game_dev9.jpg" height="260" alt="Pic" style="width:100%">
                    <p>Gaming devices</p>
                    <h4>$79.99</h4>
                    <p>98 reviews</p>
                </a>
                <div class="price-wrap"> <a href="#" class="btn btn-warning float-left" data-abc="true"><i class="fa fa-cart-plus mr-2"></i>  Add to Cart </a> </div>
            </div>
        </div>
        <div class="tab1cards">
            <div class="card">
                <a href="/singleproduct/21">
                    <h3>PS4 Console</h3>
                    <img src="../static/images/game_dev10.jpg" height="260" alt="Pic" style="width:100%">
                    <p>Gaming devices</p>
                    <h4>$299.99</h4>
                    <p>394 reviews</p>
                </a>
                <div class="price-wrap"> <a href="#" class="btn btn-warning float-left" data-abc="true"><i class="fa fa-cart-plus mr-2"></i>  Add to Cart </a> </div>
            </div>
            <div class="card">
                <a href="/singleproduct/22">
                    <h3>PS4 Gamepad</h3>
                    <img src="../static/images/game_dev10.jpg" height="260" alt="Pic" style="width:100%">
                    <p>Gaming devices</p>
                    <h4>$899.99</h4>
                    <p>75 reviews</p>
                </a>
                <div class="price-wrap"> <a href="#" class="btn btn-warning float-left" data-abc="true"><i class="fa fa-cart-plus mr-2"></i>  Add to Cart </a> </div>
            </div>
        </div>
    </div>
    <br><br>
{% endblock %}