{% extends "test.html" %}

<title>{% block title %}Headphones{% endblock %}</title>

{% block content %}
<h1>Headphones</h1>
   <div class="container">
        <div class="tab1cards">
            <div class="card">
                <a href="/singleproduct/23">
                    <h3>STN Headphones</h3>
                    <img src="../static/images/headphone.jpg" height="260" alt="Pic" style="width:100%">
                    <p>Headphones</p>
                    <h4>$89.99</h4>
                    <p>23 reviews</p>
                </a>
                <div class="price-wrap"> <a href="#" class="btn btn-warning float-left" data-abc="true"><i class="fa fa-cart-plus mr-2"></i>  Add to Cart </a> </div>
            </div>
            <div class="card">
                <a href="/singleproduct/24">
                    <h3>Gaming Headset</h3>
                    <img src="../static/images/headphone2.jpg" height="260" alt="Pic" style="width:100%">
                    <p>Headphones</p>
                    <h4>$90.99</h4>
                    <p>31 reviews</p>
                </a>
                <div class="price-wrap"> <a href="#" class="btn btn-warning float-left" data-abc="true"><i class="fa fa-cart-plus mr-2"></i>  Add to Cart </a> </div>
            </div>
            <div class="card">
                <a href="/singleproduct/25">
                    <h3>Xbox 1 Headset</h3>
                    <img src="../static/images/headphone3.jpg" height="260" alt="Pic" style="width:100%">
                    <p>Headphones</p>
                    <h4>$99.99</h4>
                    <p>67 reviews</p>
                </a>
                <div class="price-wrap"> <a href="#" class="btn btn-warning float-left" data-abc="true"><i class="fa fa-cart-plus mr-2"></i>  Add to Cart </a> </div>
            </div>
        </div>
        <div class="tab1cards">
            <div class="card">
                <a href="/singleproduct/26">
                    <h3>NUBWO Headset</h3>
                    <img src="../static/images/headphone4.jpg" height="260" alt="Pic" style="width:100%">
                    <p>Headphones</p>
                    <h4>$119.99</h4>
                    <p>95 reviews</p>
                </a>
                <div class="price-wrap"> <a href="#" class="btn btn-warning float-left" data-abc="true"><i class="fa fa-cart-plus mr-2"></i>  Add to Cart </a> </div>
            </div>
            <div class="card">
                <a href="/singleproduct/27">
                    <h3>YINSAN Headset</h3>
                    <img src="../static/images/headphone5.jpg" height="260" alt="Pic" style="width:100%">
                    <p>Headphones</p>
                    <h4>$233.99</h4>
                    <p>29 reviews</p>
                </a>
                <div class="price-wrap"> <a href="#" class="btn btn-warning float-left" data-abc="true"><i class="fa fa-cart-plus mr-2"></i>  Add to Cart </a> </div>
            </div>
            <div class="card">
                <a href="/singleproduct/28">
                    <h3>EKSA Headset</h3>
                    <img src="../static/images/headphone6.jpg" height="260" alt="Pic" style="width:100%">
                    <p>Headphones</p>
                    <h4>$233.99</h4>
                    <p>42 reviews</p>
                </a>
                <div class="price-wrap"> <a href="#" class="btn btn-warning float-left" data-abc="true"><i class="fa fa-cart-plus mr-2"></i>  Add to Cart </a> </div>
            </div>
        </div>
        <div class="tab1cards">
            <div class="card">
                <a href="/singleproduct/29">
                    <h3>INSMART Headset</h3>
                    <img src="../static/images/headphone7.jpg" height="260" alt="Pic" style="width:100%">
                    <p>Headphones</p>
                    <h4>$120.99</h4>
                    <p>58 reviews</p>
                </a>
                <div class="price-wrap"> <a href="#" class="btn btn-warning float-left" data-abc="true"><i class="fa fa-cart-plus mr-2"></i>  Add to Cart </a> </div>
            </div>
            <div class="card">
                <a href="/singleproduct/30">
                    <h3>PS5 Headset</h3>
                    <img src="../static/images/headphone8.jpg" height="260" alt="Pic" style="width:100%">
                    <p>Headphones</p>
                    <h4>$109.99</h4>
                    <p>9 reviews</p>
                </a>
                <div class="price-wrap"> <a href="#" class="btn btn-warning float-left" data-abc="true"><i class="fa fa-cart-plus mr-2"></i>  Add to Cart </a> </div>
            </div>
            <div class="card">
                <a href="/singleproduct/31">
                    <h3>PRO4-80 Headset</h3>
                    <img src="../static/images/headphone9.jpg" height="260" alt="Pic" style="width:100%">
                    <p>Headphones</p>
                    <h4>$110</h4>
                    <p>66 reviews</p>
                </a>
                <div class="price-wrap"> <a href="#" class="btn btn-warning float-left" data-abc="true"><i class="fa fa-cart-plus mr-2"></i>  Add to Cart </a> </div>
            </div>
        </div>
        <div class="tab1cards">
            <div class="card">
                <a href="/singleproduct/32">
                    <h3>Babacom Headset</h3>
                    <img src="../static/images/headphone11.jpg" height="260" alt="Pic" style="width:100%">
                    <p>Headphones</p>
                    <h4>$130.99</h4>
                    <p>34 reviews</p>
                </a>
                <div class="price-wrap"> <a href="#" class="btn btn-warning float-left" data-abc="true"><i class="fa fa-cart-plus mr-2"></i>  Add to Cart </a> </div>
            </div>
        </div>
    </div>
    <br><br>
{% endblock %}