{% extends "test.html" %}

<title>{% block title %}Monitors{% endblock %}</title>

{% block content %}

<section class="products">
    <div class="section-title">
        <h2>Monitors</h2>
    </div>
    <div class="products-center">
        <!-- single product -->
        <article class="product">
            <div class="tab1cards">
            <div class="card">
                <a href="/singleproduct/1">
                    <h3>15.8" Monitor</h3>
                </a>
                <div class="img-container">
                    <img src="../static/images/monitor.jpg" class="product-img" height="260" alt="product" style="width:100%">
                    <button class="bag-btn" data-id="1">
                        <i class="fas fa-shopping-cart"></i>
                        add to bag
                    </button>
                </div>
                <p>Monitors</p>
                <h4>$190</h4>
                <p>34 reviews</p>
                <div class="price-wrap"> <a href="#" class="btn btn-warning float-left" data-abc="true"><i class="fa fa-cart-plus mr-2"></i>  Add to Cart </a> </div>
            </div>
            </div>
        </article>
        <!-- end of single product -->

        <!-- single product -->
        <article class="product">
            <div class="tab1cards">
            <div class="card">
                <a href="/singleproduct/2">
                    <h3>22" AOC Monitor</h3>
                </a>
                <div class="img-container">
                    <img src="../static/images/monitor1.jpg" class="product-img" height="260" alt="product" style="width:100%">
                    <button class="bag-btn" data-id="1">
                        <i class="fas fa-shopping-cart"></i>
                        add to bag
                    </button>
                </div>
                <p>Monitors</p>
                <h4>$204.99</h4>
                <p>143 reviews</p>
                <div class="price-wrap"> <a href="#" class="btn btn-warning float-left" data-abc="true"><i class="fa fa-cart-plus mr-2"></i>  Add to Cart </a> </div>
            </div>
            </div>
        </article>
        <!-- end of single product -->

        <!-- single product -->
        <article class="product">
            <div class="tab1cards">
            <div class="card">
                <a href="/singleproduct/3">
                    <h3>24" SS Monitor</h3>
                </a>
                <div class="img-container">
                    <img src="../static/images/monitor2.jpg" class="product-img" height="260" alt="product" style="width:100%">
                    <button class="bag-btn" data-id="1">
                        <i class="fas fa-shopping-cart"></i>
                        add to bag
                    </button>
                </div>
                <p>Monitors</p>
                <h4>$189.99</h4>
                <p>75 reviews</p>
                <div class="price-wrap"> <a href="#" class="btn btn-warning float-left" data-abc="true"><i class="fa fa-cart-plus mr-2"></i>  Add to Cart </a> </div>
            </div>
            </div>
        </article>
        <!-- end of single product -->
    </div>
</section>


<div class="container">
        <div class="tab1cards">
            <div class="card">
                <a href="/singleproduct/1">
                    <h3>15.8" Monitor</h3>
                    <img src="../static/images/monitor.jpg" height="260" alt="Pic" style="width:100%">
                    <p>Monitors</p>
                    <h4>$190</h4>
                    <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                    <p>34 reviews</p>
                </a>
                <div class="price-wrap"> <a href="#" class="btn btn-warning float-left" data-abc="true"><i class="fa fa-cart-plus mr-2"></i>  Add to Cart </a> </div>
            </div>
            <div class="card">
                <a href="/singleproduct/2">
                    <h3>22" AOC Monitor</h3>
                    <img src="../static/images/monitor2.jpg" height="260" alt="Pic" style="width:100%">
                    <p>Monitors</p>
                    <h4>$204.99</h4>
                    <p>143 reviews</p>
                </a>
                <div class="price-wrap"> <a href="#" class="btn btn-warning float-left" data-abc="true"><i class="fa fa-cart-plus mr-2"></i>  Add to Cart </a> </div>
            </div>
            <div class="card">
                <a href="/singleproduct/3">
                    <h3>24" SS Monitor</h3>
                    <img src="../static/images/monitor3.jpg" height="260" alt="Pic" style="width:100%">
                    <p>Monitors</p>
                    <h4>$189.99</h4>
                    <p>75 reviews</p>
                </a>
                <div class="price-wrap"> <a href="#" class="btn btn-warning float-left" data-abc="true"><i class="fa fa-cart-plus mr-2"></i>  Add to Cart </a> </div>
            </div>
        </div>
        <div class="tab1cards">
            <div class="card">
                <a href="/singleproduct/4">
                    <h3>24" SS C Monitor</h3>
                    <img src="../static/images/monitor4.jpg" height="260" alt="Pic" style="width:100%">
                    <p>Monitors</p>
                    <h4>$199.99</h4>
                    <p>55 reviews</p>
                </a>
                <div class="price-wrap"> <a href="#" class="btn btn-warning float-left" data-abc="true"><i class="fa fa-cart-plus mr-2"></i>  Add to Cart </a> </div>
            </div>
            <div class="card">
                <a href="/singleproduct/5">
                    <h3>26" LG Monitor</h3>
                    <img src="../static/images/monitor5.jpg" height="260" alt="Pic" style="width:100%">
                    <p>Monitors</p>
                    <h4>$139.99</h4>
                    <p>93 reviews</p>
                </a>
                <div class="price-wrap"> <a href="#" class="btn btn-warning float-left" data-abc="true"><i class="fa fa-cart-plus mr-2"></i>  Add to Cart </a> </div>
            </div>
            <div class="card">
                <a href="/singleproduct/6">
                    <h3>35" LG Monitor</h3>
                    <img src="../static/images/monitor6.jpg" height="260" alt="Pic" style="width:100%">
                    <p>Monitors</p>
                    <h4>$159.99</h4>
                    <p>26 reviews</p>
                </a>
                <div class="price-wrap"> <a href="#" class="btn btn-warning float-left" data-abc="true"><i class="fa fa-cart-plus mr-2"></i>  Add to Cart </a> </div>
            </div>
        </div>
        <div class="tab1cards">
            <div class="card">
                <a href="/singleproduct/7">
                    <h3>21.5" Dell Monitor</h3>
                    <img src="../static/images/monitor7.jpg" height="260" alt="Pic" style="width:100%">
                    <p>Monitors</p>
                    <h4>$129.99</h4>
                    <p>83 reviews</p>
                </a>
                <div class="price-wrap"> <a href="#" class="btn btn-warning float-left" data-abc="true"><i class="fa fa-cart-plus mr-2"></i>  Add to Cart </a> </div>
            </div>
            <div class="card">
                <a href="/singleproduct/8">
                    <h3>21.5" ASUS Monitor</h3>
                    <img src="../static/images/monitor8.jpg" height="260" alt="Pic" style="width:100%">
                    <p>Monitors</p>
                    <h4>$125.99</h4>
                    <p>67 reviews</p>
                </a>
                <div class="price-wrap"> <a href="#" class="btn btn-warning float-left" data-abc="true"><i class="fa fa-cart-plus mr-2"></i>  Add to Cart </a> </div>
            </div>
            <div class="card">
                <a href="/singleproduct/9">
                    <h3>Thinlerain Monitor</h3>
                    <img src="../static/images/monitor9.jpg" height="260" alt="Pic" style="width:100%">
                    <p>Monitors</p>
                    <h4>$119.99</h4>
                    <p>60 reviews</p>
                </a>
                <div class="price-wrap"> <a href="#" class="btn btn-warning float-left" data-abc="true"><i class="fa fa-cart-plus mr-2"></i>  Add to Cart </a> </div>
            </div>
        </div>
    </div>
    <br><br>
{% endblock %}