{% extends "test.html" %}

<title>{% block title %}Terms And Conditions{% endblock %}</title>

{% block content %}
    <H3>Welcome to Tech Studio!</H3>

    <p>
        As a valued customer of Tech Studio, we would like you to be familiar with our trading terms, to ensure that
        your Tech Studio experience is a satisfying one. Please feel free to contact us if you have any further
        questions.
    </p>

    <p>
        By accessing and/or using the website, you accept these Terms and agree to be bound by them, and an agreement is
        formed between us and you.
    </p>
    <br>
    <H4>User Agreement</H4>
    <p>
        These Terms may be amended at any time without notice and your access to this website may be terminated at any time
        without notice. Your continued use of the website following any amendment of these Terms will represent an
        agreement by you to be bound by these Terms as amended. We recommend you review the Terms for amendments each
        time you use the website and before placing any Order. Whilst we are under no obligation to do so, should we
        choose to provide you with notice of amended Terms, you agree to receive email notification of the amendments
        from us or our third party.
    </p>
    <br>
    <H4>Guests and Registered Users</H4>
    <p>
        You may access and/or use the website as a guest or as a member.
        To become a member of the website, you must provide your name and address, telephone number, a valid email
        address and nominate a password. If you do not provide accurate and complete details we may not be able to
        activate your membership or supply goods or services to you. You agree to keep your membership details current
        at all times by accessing your account via the website or by contacting our Customer Service Team.
    </p>

    <p>
        You will receive an email from us as soon as practicable after you create your membership account. We only
        permit one registration per email address. You must not use another member’s account without permission. You
        must keep your password secure as you are responsible for any activity on your account. You agree to notify us
        immediately if you become aware of any security breach or any unauthorised use of your password or account. If
        you forget your password you may click on the relevant link located on the website and we will email you a new
        password, or you may contact our Customer Service Team.
    </p>
    <p>
        We reserve the right to terminate a member’s account without notice for any reason whatsoever including
        without limitation, if you have breached or we suspect you have breached these Terms.
    </p>
    <p>
        Our Data Policy explains how we collect and use your personal data to determine some of the ads that you see and
        provide all of the other services described below. You can also go to your settings at any time to review the
        privacy choices that you have about how we use your data.
    </p>
    <br>
    <H4>Orders</H4>
    <p>
        We recommend you carefully preview any proposed Orders before adding them to your shopping cart and proceeding
        with your Order. Once an Order has been accepted by Tech Studio, no cancellation of that Order is valid unless
        you receive our written communication permitting the cancelled Order.
    </p>
    <p>
        Representations of goods or services for sale made by Tech Studio via the website do not constitute an offer
        to sell but an invitation to treat.
    </p>
    <br>
    <H4>Payment</H4>
    <p>
        All payments must be made in full prior to delivery, including any applicable delivery or handling charges.
        Payments must be made via the TNS or PayPal secure payment gateway facilities accessible via the website and
        will be subject to any additional terms and conditions of these providers.
    </p>
    <br>
    <H4>Disclaimer and Indemnity</H4>
    <p>
        Without limitation to the foregoing, except as expressly provided in these Terms and to the fullest extent
        allowed by the law, Tech Studio and its third parties will not be liable for any direct, indirect, special,
        incidental or consequential damages arising out of your access to or use of the website or any goods or services
        purchased on it.
    </p>
    <p>
        Except as expressly stated in these Terms, we do not give any representation, warranties or undertakings in
        relation to the goods or services on the website. Any representation, condition or warranty which might be
        incorporated into these Terms by statute, common law, the law of equity or otherwise is excluded to the fullest
        extent permitted by law. In particular, we will not be responsible for ensuring that any goods or services are
        suitable for your purposes.
    </p>
    <p>
        You will at all times indemnify, and keep indemnified, Tech Studio, and each of its related entities,
        including their directors, officers, employees and agents from and against any loss (including reasonable legal
        costs and expenses on a full indemnity basis) or liability incurred or suffered by you or by any of them arising
        from any claim, demand, suit, action or proceeding by any person against you or them where such loss or
        liability arose out of, in connection with or in respect of your conduct or any breach of these Terms.
    </p>
    <br>
    <H4>Payment and credit card fraud</H4>

    <p>
        To the fullest extent permitted by law, Tech Studio and its related entities will not be responsible for any
        damages or consequential losses of any kind (whether direct or indirect) suffered by a user where a credit/debit
        card, PayPal account or other payment method is fraudulently used or is used in an unauthorised or improper
        manner.
    </p>
    <br>
    <H4>Transfer and Assignment</H4>
    <p>
        If Tech Studio merges, sells or otherwise changes control of its business or this website to a third-party, Tech
        Studio reserves the right, without giving notice or seeking consent, to transfer or assign the personal
        information, content and rights that Tech Studio has collected from you and any agreements it has made with you.
    </p>




{% endblock %}